@use 'bulma/sass/utilities/mixins';
@import 'bulma';

.projects-container {
    width: 100%;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
    align-items: stretch;

    @include mixins.tablet-only {
        grid-template-columns: 50% 50%;
    }

    @include mixins.mobile {
        grid-template-columns: 100%;
    }

    .project-card {
        border: 1px solid #dbdbdb;
        border-radius: 20px;
        margin: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        img {
            width: 400px;
            height: auto;
            border-radius: 20px;
        }
    }
}