@use 'bulma/sass/utilities/mixins';
@import 'bulma';


.welcome-banner {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;

    @include mixins.touch {
        width: 100%;
    }

    @include mixins.mobile {
        flex-direction: column;
        padding: 20px;
    }

    .image {
        width: 500px;
        z-index: 1;

        @include mixins.mobile {
            width: 300px;
        }

        @include mixins.tablet-only {
            width: 400px;
        }
    }

    .information {
        z-index: 2;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include mixins.desktop {
            margin-left: -120px;
            margin-top: 100px;
        }

        @include mixins.tablet-only {
            padding: 0px 20px;
            margin-left: -100px;
        }

        @include mixins.mobile {
            margin-top: -100px;
        }
    }
}